Repository sphis-sinco/SincoAndPortilizen, pull requests merged in 2025-08, with the labels that each got.

#45 Update Global.hx
  source/Global.hx
Labels: Status: Recommendation, Priority: Medium, Respose: Planned, PR/Size: Medium, PR/Type: Haxe

#46 Delete .dev/scripts directory
  .dev/scripts/QuickMarkdown.py
Labels: Status: Recommendation, Priority: High, Response: Implemented, PR/Size: Small

#49 Medals
  CHANGELOG.md
  build
  source/Global.hx
  source/InitState.hx
  source/Splash.hx
  source/backend/MedalIDS.hx
  source/backend/MedalStrings.hx
  source/backend/newgrounds/NGio.hx
  source/levels/Osin.hx
  source/levels/StringQuest.hx
  source/levels/Tres.hx
  source/menus/TitleScreen.hx
  version.txt
Labels: Priority: Medium, Status: Addition, Response: Implemented, PR/Size: Medium, PR/Type: Haxe, PR/Type: Documentation

#50 Pause Screen Icons
  .dev/aseprite/new/PauseScreen_Icons.aseprite
  CHANGELOG.md
  assets/images/pauseScreen/icons/osin.png
  assets/images/pauseScreen/icons/port.png
  assets/images/pauseScreen/icons/sinco.png
  assets/images/pauseScreen/icons/string-quest.png
  assets/images/pauseScreen/icons/tres.png
  build
  source/backend/PausableState.hx
  source/levels/Osin.hx
  source/levels/StringQuest.hx
  source/levels/Tres.hx
Labels: Priority: Medium, Status: Addition, Respose: Planned, PR/Size: Small, PR/Type: Haxe, PR/Type: Documentation
